@import "./variables.scss";

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;

  @media only screen and (max-width: 420px) {
    width: 90%;
  }

  .form__field-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .form__field-label {
    display: none;
  }

  .form__field-input { 
    padding: 10px;
    background: transparent;
    border: 2px solid $alchemy-green;
    color: #95d13c;
    font-size: 16px;

    &::placeholder {
      color: #95d13c;
    }
  }

  .form__submit-btn-wrapper {
    padding-top: 20px;
  }

  .form__submit-navigation {
    color: $alchemy-green;
    font-family: 'Press Start 2P';
    font-size: 10px;
    padding-left: 20px;

    @media only screen and (max-width: 420px) {
      display: block;
      padding: 25px 0 0 0;
    }
  }

  .form__field-error-wrapper {
    padding-top: 10px;
  }

  .form__field-error {
    color: #e62325;
    font-family: Arial;
    font-size: 12px;
    padding: 5px 5px 0 0;
    display: inline-block;
  }
}