@import "./forms.scss";
@import "./buttons.scss";

html {
  box-sizing: border-box;

  @media only screen and (max-width: 420px) {
    overflow: hidden;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #fff;
  overflow: hidden;
}
