.cabinet-top {
  height: 20vh;
  position: relative;

  @media only screen and (max-width: 420px) {
    height: 5vh;
  }

  .cabinet-top-face {
    background: #333 url('darkwood.png');
    height: 100%;
    width: 75%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 420px) {
      width: calc(100% - 50px);
    }

    svg {
      height: 70%;
      fill: #221710;
    }
 
    &:before,
    &:after {
      width: 30px;
      height: 100%;
      position: absolute;
      top: 0;
      background: #777;
      content: ' ';
      z-index: 2;
    }
    &:before { left: -30px;}
    &:after { right: -30px;}
  }

  .cabinet-top-support {
    height: 10px;
    width: calc(80% - 60px);
    margin: 0 auto;
    background: #222;
    position: relative;
    bottom: 0;
    z-index: 9999;

    @media only screen and (max-width: 420px) {
      width: calc(100% - 30px);
    }
    
    &:before,
    &:after {
      width: 30px;
      height: 100%;
      position: absolute;
      top: 0;
      background: #666;
      content: ' ';
      z-index: 2;
    }
    &:before { left: -17px; transform:skewX(-160deg)}
    &:after { right: -17px; transform:skewX(-20deg);}
  }
}

.cabinet-viewport {
  position: relative;
  height: 65vh;
  width: calc(80% - 52px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: #222;
  background: radial-gradient(ellipse at center, #444 0, #222 100%);

  @media only screen and (max-width: 420px) {
    width: calc(100%);
    height: auto;
  }

  &:before,
    &:after {
      width: 30px;
      height: 100%;
      position: absolute;
      top: 0;
      background: #555;
      content: ' ';
      z-index: 2;
    }
    &:before { left: 0px;}
    &:after { right: 0px;}

    .cabinet-screen {
      background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
      -webkit-box-shadow:inset 0 0 10px 0 #000;
      box-shadow:inset 0 0 10px 0 #000;
      position: relative;
      width: 85%;
      height: 85%;
      border-radius: 30px;
      margin: 0 auto;
      overflow: hidden;
    }
}

.cabinet-bottom {
  height: 15vh;

  .cabinet-panel {
    height: 70px;
    width: calc(80% - 60px);
    margin: 0 auto;
    background: #222 linear-gradient(black, transparent);
    background-position: cover;
    position: relative;

    @media only screen and (max-width: 420px) {
      height: 40px;
      width: calc(100%);
    }

    &:before,
    &:after {
      width: 30px;
      height: 100%;
      position: absolute;
      top: 0;
      background: #666;
      content: ' ';
      z-index: 2;
    }
    &:before { left: -8px; transform:skewX(160deg)}
    &:after { right: -7px; transform:skewX(20deg);} 
  }

  .cabinet-bottom-face {
    height: 50px;
    width: 80%;
    margin: 0 auto;
    background: #333 url('darkwood.png');
    position: relative;

    @media only screen and (max-width: 420px) {
      height: 30px;
      width: calc(100%);
    }

    &:before,
    &:after {
      width: 30px;
      height: 50px;
      position: absolute;
      top: 0;
      background: #777;
      content: ' ';
      z-index: 2;

      @media only screen and (max-width: 420px) {
        height: 30px;
      }
    }
    &:before { 
      left: 0px; 

      @media only screen and (max-width: 420px) {
        left: -15px;
      }
    }
    &:after { 
      right: 0px; 

      @media only screen and (max-width: 420px) {
        right: -15px;
      }
    }
  }
}