@import '../../../styles/variables.scss';

.roster_list-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 420px) {
    width: 95%;
  }

  @media only screen and (max-width: 1024px) {
    width: 80%;
  }
}

.add-new {
  color: $alchemy-green;
  border: 2px solid $alchemy-green;
  font-family: 'Press Start 2P';
  font-size: 10px;
  padding: 10px;
  text-decoration: none;
  margin-left: auto;
}

.ReactTable {
  background: transparent;
  height: 300px;
  width: 100%;
  border: 0;
  font-family: 'Press Start 2P';
  font-size: 10px;

  @media only screen and (max-width: 420px) {
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 1024px) {
    width: 100%;
  } 

  .rt-table {
    overflow: visible;
  }

  .rt-tr {
    display: flex;
    
    @media only screen and (max-width: 420px) {
      flex-flow: row wrap;
      padding: 10px 0;
      align-items: center;
    }
  }

  .-headerGroups {
    display: none;
  }

  .rt-thead {
    @media only screen and (max-width: 420px) {
      display: none;
    }

    &.-header {
      box-shadow: none;
    }

    .rt-th {
      color: #000;
      background: $alchemy-green;
      border: 0;
      box-shadow: 0;
      padding: 20px 0;
      margin: 10px 0 10px 0;

      &.-sort-asc {
        box-shadow: none;
      }

      &.-sort-desc {
        box-shadow: none;
      }
    }
  }

  .rt-tbody {
    @media only screen and (max-width: 420px) {
      min-width: 100% !important;
      width: 100%;
      flex: none;
    }

    .rt-tr-group {
      border: 0;

      @media only screen and (max-width: 420px) {
        min-width: 100%;
        width: 100%;
      }
    }

    .tr-tr {
      display: flex;
      flex-direction: column !important;

      @media only screen and (max-width: 420px) {
        min-width: 100%;
        width: 100%;
      }
    }

    .rt-td {
      border-right: 0;
      color: $alchemy-green;
      text-transform: capitalize;
      text-align: center;
    }

    .-rating {
      @media only screen and (max-width: 420px) {
        width: 100% !important;
        color: #000;
        background: $alchemy-green;
      }
    }
  }

  .pagination-bottom {
    height: 50px;
  
    .-pagination {
      height: 50px;
      box-shadow: none;
      border: 0;

      .-btn {
        color: $alchemy-green;
      }
  
      .-center {
        display: none;
      }
    }
  }

  .delete {
    cursor: pointer;
    text-decoration: underline;
  }
}
