@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url("./stars.scss");
@import url("./joystick.scss");
@import url("./home-page.scss");
@import url("./forms.scss");
@import url("./buttons.scss");

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  overflow: hidden;
}

nav {
  position: absolute;
  z-index: 9994;
  top: 20px;
  left: 10px;
}

main {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: scroll; 
}
