@import "../../styles/variables.scss";

nav {
  position: absolute;
  z-index: 9994;
  top: 20px;
  left: 10px;

  a {
    color: white;
    display: inline-block;
    padding-right: 5px;
    color: $alchemy-green;
    font: 600 14px/18px 'Arial';
    text-transform: uppercase;
    text-decoration: none;
  }
}
